{% extends 'miscosasAPP/base.html' %}
{% load static %}
{% block bar_nav %}
<ul style="text-align:center" class="nav navbar sticky-top">
  <li>
      <a href="/miscosas/">Inicio</a>
    </li>
    <li>
        <a href="/miscosas/#top10">Top 10</a>
      </li>
      {% if user.is_authenticated %}
      <li>
          <a href="/miscosas/#top5">Top 5</a>
        </li>
        {% endif %}
      <li>
          <a href="/miscosas/alimentadores">Alimentadores</a>
        </li>

          <li>
              <a href="/miscosas/usuarios">Usuarios</a>
            </li>



              <li class="dropdown">
  <a class="nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
    Descargas &nbsp<span class="caret"></span>
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Documento XML</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Documento JSON</a>
  </div>
</li>



{% if not user.is_authenticated %}
<li class="login_nouser">
<div >
    <a href="/miscosas/login" class="btn btn-primary btn-lg" role="button" >Login</a>
</div>
</li >
<li class="registro">
<div >
    <a href="/miscosas/registro"  class="btn btn-danger" role="button" >Registrate aqui</a>
</div>
</li >
{% else%}
<li class="login">
<div>
<a class="btn btn-outline-primary btn-lg" id="boton_login" role="button" >Estas logueado en: &nbsp <span class="user_bold">{{ user.username}}</span></a>
</div>
</li >
<li class="logout">
<div>
  <a href="/miscosas/logout" class="btn btn-danger" role="button" >Logout</a>
</div>
</li >
{% endif %}

</ul>
{% endblock %}

{% block content %}
<div class="contenido">
<h1 style="position:relative;left:35rem;width:50%;padding-top:20px;color:black;border: solid 3px black;text-decoration:none;">INFORMACIÓN DEL SITIO WEB</h1>
<h2 style="color:white;text-align:center">Realizado por: <span style="text-decoration:underline">Raúl Gil López</span></h2>
<h3 style="color:white;text-align:center">URJC - Grado en Ingeniería en Tecnologías de la Telecomunicación</h3>
<h2 style="text-align:center;font-size:35px;padding-top:10rem;padding-left:1rem;color:black;text-decoration:underline">Funcionamiento</h2>
<p style="color:white;font-weight:bold;line-height : 27px;font-size:25px;padding-left:5rem;">El diseño de este sitio web está diseñado para ofrecer a los usuarios que estén o no registrados una lista de alimentadores de Youtube y LastFm (canales/artistas) con todos sus items (videos/albums) y a su vez, interactuar con ellos añadiendo comentarios, votos positivos o negativos.</p>
<ul style="margin-left:7rem;font-size:2rem;background-color:transparent"><h3 style="list-style-type: circle;"><a style="color:#252f5f" href="/miscosas/">Pagina Principal</a></h3></ul>
<p style="font-weight:bold;color:white;line-height : 27px;font-size:25px;padding-left:5rem;margin-top:-3rem;"><br><br>El usuario dispone de formularios para introducir el ID del canal en caso de Youtube o el ID del artista para LastFm y asi visualizar la información del alimentador y de sus items.
<br><br>Para cualquier usuario que visite la página principal podrá visualizar el Top 10 de Items votados con su puntuación. Pero además, si el visitante está registrado y logueado en el sitio, también visualizará el Top 5 de los últimos 5 items votados por él.<br>
El visitante también podrá ver la lista de los alimentadores seleccionados, y podrá eliminar el que quiera pero solo de esa lista, no de la base de datos.</p>
<ul style="margin-left:7rem;font-size:2rem;background-color:transparent"><h3 style="list-style-type: circle;color:#252f5f""><a style="color:#252f5f" href="/miscosas/alimentadores">Alimentadores</a></h3></ul>
<p style="font-weight:bold;color:white;line-height : 27px;font-size:25px;padding-left:5rem;margin-top:-3rem;"><br><br>En esta página el visitante visualizará la lista de los alimentadores históricos del sitio web y a su vez interactuar con ellos Seleccionandolos o Deselecionandolos de la página principal.</p>
<ul style="margin-left:7rem;font-size:2rem;background-color:transparent"><h3 style="list-style-type: circle;color:#252f5f""><a style="color:#252f5f" href="/miscosas/youtube/UC300utwSVAYOoRLEqmsprfg">Alimentador Youtube / LastFm</a></h3></ul>
<p style="font-weight:bold;color:white;line-height : 27px;font-size:25px;padding-left:5rem;margin-top:-3rem;"><br><br>Esta página es la principal de un alimentador de Youtube o LastFm. En ella podemos ver el nombre del canal o del artista, un botón para seleccionarlo o deseleccionarlo de la pagina principal y una lista de items que corresponde a los videos o albums de ese alimentador (canal/artista)</p>
<ul style="margin-left:7rem;font-size:2rem;background-color:transparent"><h3 style="list-style-type: circle;color:#252f5f"><a style="color:#252f5f" href="/miscosas/youtube/UC300utwSVAYOoRLEqmsprfg/HZOodD84MR8">Items</a></h3></ul>
<p style="font-weight:bold;color:white;line-height : 27px;font-size:25px;padding-left:5rem;margin-top:-3rem;"><br><br>Página que representa toda la información del item seleccionado. Se visualizará el alimentador y el tipo de alimentador del que proviene junto con información detallada del item como su nombre, su foto o video y su descripcion en caso de que sea item de Youtube. Si el visitante está logueado en el sitio, podrá tanto votar positiva o negativamente el item como escribir un comentario sobre el.</p>

<ul style="margin-left:7rem;font-size:2rem;background-color:transparent"><h3 style="list-style-type: circle;color:#252f5f""><a style="color:#252f5f" href="/miscosas/usuarios">Usuarios</a></h3></ul>
<p style="font-weight:bold;color:white;line-height : 27px;font-size:25px;padding-left:5rem;margin-top:-3rem;"><br><br>En esta página podemos ver todos los usuarios de la base de datos del sitio web con un enlace que redirigirá a la página personal del usuario seleccionado.</p>
<ul style="margin-left:7rem;font-size:2rem;background-color:transparent"><h3 style="list-style-type: circle;color:#252f5f""><a style="color:#252f5f" href="/miscosas/usuarios/root">Usuario</a></h3></ul>
<p style="font-weight:bold;color:white;line-height : 27px;font-size:25px;padding-left:5rem;margin-top:-3rem;"><br><br>Página que muestra toda la actividad del usuario seleccionado en dos columnas, una para todos los comentarios que haya realizado a items y otra para los votos</p>
<ul style="margin-left:7rem;font-size:2rem;background-color:transparent"><h3 style="list-style-type: circle;color:#252f5f"">Descargas</h3></ul>
<p style="font-weight:bold;color:white;line-height : 27px;font-size:25px;padding-left:5rem;margin-top:-3rem;"><br><br>Sección de la barra de navegación en la que se puede descargar el documento XML o JSON de la página en la que se esté actualmente.</p>

</div>
{% endblock %}
